@media only screen and (max-width: 768px){
    .navbar .navbar_nav a{
        display: none;
    }
    .banner h1{
        font-size: 3rem;
      }
      .design_contact{
        grid-template-columns: 1fr;
      }
      .blog_content{
        grid-template-columns: 1fr;
      }
      .about_content{
        grid-template-columns: 1fr;
      }
}